<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <base th:href="@{/}" href="" />
    <title>I18N</title>
    <link rel="stylesheet" th:href="@{/lib/semantic/semantic.css}" href="../static/lib/semantic/semantic.css" />
    <link rel="stylesheet" th:href="@{/css/md-github.css}" href="../static/css/md.css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css" />
    <script th:src="@{/lib/jquery-1.11.2.js}" src="../static/lib/jquery-1.11.2.js"></script>
    <script th:src="@{/lib/jquery.tablesort.js}" src="../static/lib/jquery.tablesort.js"></script>
    <script th:src="@{/lib/jquery.serialize-object.js}" src="../static/lib/jquery.serialize-object.js"></script>
    <script th:src="@{/lib/semantic/semantic.js}" src="../static/lib/semantic/semantic.js"></script>
    <script th:src="@{/lib/jquery.notification.js}" src="../static/lib/jquery.notification.js"></script>
    <script th:src="@{/lib/markdown.js}" src="../static/lib/markdown.js"></script>
    <script th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>
</head>

<body>
    <div th:replace="index :: sidebar"></div>
    <div th:replace="index :: menu"></div>
    <div class="pusher">
        <div class="container">
            <div class="ui basic segment">
                <div class="ui top attached segment">
                    <div class="ui accordion i18n">
                        <div class="title">
                            <i class="dropdown icon"></i> <b>I18n page</b>
                        </div>
                        <div class="content">
                            <p><div class="markdown-body"></div></p>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached segment">
                    <form class="ui form">
                        <div class="inline field">
                            <label>Namespace:</label>
                            <input id="txtNs" th:value="${ns}" type="text" placeholder="namespace">
                        </div>
                        <div class="field">
                            <label>Input:</label>
                            <textarea id="txtInput" th:text="${input}"></textarea>
                        </div>
                    </form>
                    <div class="ui segment">
                        <div class="ui button" id="btnReplace">Replace</div>
                    </div>
                    <form class="ui form">
                        <div class="field">
                            <label>Output:</label>
                            <textarea id="txtOutput"></textarea>
                        </div>
                        <div class="field">
                            <label>Property:</label>
                            <textarea id="txtProperty"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    jQuery(document).ready(function($) {

        $('#btnReplace').click(function(event) {
            $.post('i18n/replace', {
                ns: $('#txtNs').val(),
                input: $('#txtInput').val()
            }, function(data, textStatus, xhr) {
                if (data.success) {
                    $('#txtOutput').val(data.data.xml);
                    $('#txtProperty').val(data.data.props);
                    $.ntf.info('替换成功!');
                } else {
                    $('#txtOutput').val('');
                    $.ntf.error(data.data);
                }
            });
        });

    });
    </script>
</body>

</html>
