<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <base th:href="@{/}" href="" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/lib/semantic/semantic.css}" href="../static/lib/semantic/semantic.css" />
    <link rel="stylesheet" th:href="@{/css/md-github.css}" href="../static/css/md.css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css" />
    <script th:src="@{/lib/jquery-1.11.2.js}" src="../static/lib/jquery-1.11.2.js"></script>
    <script th:src="@{/lib/jquery.tablesort.js}" src="../static/lib/jquery.tablesort.js"></script>
    <script th:src="@{/lib/jquery.serialize-object.js}" src="../static/lib/jquery.serialize-object.js"></script>
    <script th:src="@{/lib/semantic/semantic.js}" src="../static/lib/semantic/semantic.js"></script>
    <script th:src="@{/lib/showdown.min.js}" src="../static/lib/showdown.min.js"></script>
    <script th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>
</head>

<body>
    <div th:fragment="sidebar" class="ui left vertical inverted labeled icon sidebar menu">
        <a class="item" th:href="@{/}" href="index.html">
            <i class="home icon"></i> Home
        </a>
        <a class="item" th:href="@{/page/i18n}" href="i18n.html">
            <i class="smile icon"></i> I18N
        </a>
        <a class="item" th:href="@{/page/json2bean}" href="json2bean.html">
            <i class="smile icon"></i> Json2Bean
        </a>
    </div>
    <div th:fragment="menu" class="ui inverted top fixed menu">
        <a class="item xwc-menu">
            <i class="content icon"></i> Menu
        </a>
        <a class="item" th:href="@{/}" href="index.html">Home</a>
        <a class="item" th:href="@{/page/i18n}" href="i18n.html">I18N</a>
        <a class="item" th:href="@{/page/json2bean}" href="json2bean.html">Json2Bean</a>
        <div class="right menu">
            <a class="popup icon item" data-variation="inverted" data-content="Mail to xi.weicheng@emc.com" href="mailto:xi.weicheng@emc.com">
                <i class="mail icon"></i>
            </a>
        </div>
    </div>
    <div class="pusher">
        <div class="container">
            <div class="ui basic segment">
                <h3 class="ui top attached header">Brief Introduction</h3>
                <div class="ui attached segment">
                    <p>
                        <div class="markdown-text">
                            <pre>**I18N**: 该工具可以识别Flex UI界面源码中需要国际化的属性文本，例如`text` `label` `title`等等。自动识别出对应的国际化资源属性，生成国际化替换函数替换的界面源码。</pre>
                        </div>
                    </p>
                </div>
                <div class="ui bottom attached segment">
                    <p>
                        <div class="markdown-text">
                            <pre>**Json2Bean**: 该工具可以根据请求返回的`json`响应结果，生成对应层次结构的`java bean`类。</pre>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="dimmer" class="ui active dimmer pageDimmer">
        <div class="ui large text loader">Waiting...</div>
    </div>
</body>

</html>
